.navbar{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  padding:20px 10%;
  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(0,0,0,.2);
  backdrop-filter:blur(20px);

  z-index:1000;
}

.navbar ul{
  display:flex;
  gap:40px;
}